blockquote
  display: block
  margin-left: 0
  margin-right: 0
  padding: 1rem
  background: var(--card)
  border-left: 4px solid var(--theme-highlight)
  border-radius: $border-block
  box-shadow: $boxshadow-card
  color: var(--text-p2)
