.darkmode-switch
    display: none
    cursor: pointer
:root[data-theme="dark"] #darkmode-switch-auto 
    display: inline-block 
:root[data-theme="auto"] #darkmode-switch-light
    display: inline-block 
:root[data-theme="light"] #darkmode-switch-dark
    display: inline-block 